div.sidesheet {
  position: absolute;
  top: 0;
  left: 0;
}

div.sidesheet div.button button {
  margin: 1em;
  background: #eee;
  border: none;
  width: 3em;
  height: 3em;
  border-radius: 100%;
  cursor: pointer;
}

div.sidesheet div.button button:hover {
  background: #ddd;
}

div.sidesheet div.button button:active {
  background: #ccc;
}

div.sidesheet div.panel {
  background-color: #eee;
  width: 20em;
  position: relative;
  left: -20em;
  transition: all 100ms;
}

div.sidesheet div.panel.open {
  left: 0;
}
