*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

svg {
  border: 0.1em solid black;
  width: 50em;
  height: 30em;
  display: inline;
}

circle {
  fill: transparent;
  stroke: black;
  stroke-width: 0.02em;
}

g.samples circle {
  fill: black;
  stroke: none;
}

line {
  stroke: black;
  stroke-width: 0.02em;
}

div.command {
  display: flex;
  flex-flow: column;
  width: 50em;
  gap: 1em;

  border: 0.1em solid black;
  padding: 0.5em;
}

div.command label {
  display: flex;
  flex-flow: column;
}
